/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');




* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(188.91% 122.2% at 14.38% 11.67%, #FF6D03 0%, #FF9F0E 24.38%, #E93E3E 57.65%, #6100FF 100%);
}




.container {
    position: relative;
    max-width: auto;
    width: 661px;
    height: auto;
    padding: 25px;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0px 4px 40px 0px #B2B2B2;
}


.container header {
    color: #000;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 60px;
}

.container h1 {
    text-align: center;
    color: rgba(95, 94, 94, 0.55);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 40px;
}




.container form {
    margin-top: 30px;
}

form .field {
    margin-bottom: 20px;
    margin-left: 5rem;
}




.input-field[data-label="NOME"]::before {
    margin-left: 1rem;
    content: "NOME";
    color: #FF6D03;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
}

.input-field[data-label="EMAIL"]::before {
    margin-left: 1rem;
    content: "EMAIL";
    color: #FF9F0E;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
}


.input-field[data-label="SENHA"]::before {
    margin-left: 1rem;
    content: "SENHA";
    color: #E93E3E;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
}

.input-field[data-label="CONFIRME SUA SENHA"]::before {
    margin-left: 1rem;
    content: "CONFIRME SUA SENHA";
    color: #CF46FF;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 12px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
}


form .input-field {
    margin-bottom: 2rem;
    position: relative;
    height: 55px;
    width: 100%;

}

.input-field input {
    background-color: rgba(201, 196, 196, 0.16);
    border-radius: 20px;
    width: 480px;
    height: 52px;
    outline: none;
    border: none;
    padding: 0 15px;
}

.input-field input::placeholder {
    color: rgba(0, 0, 0, 0.254);
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.invalid input {
    border-color: #d93025;
}

.field .error {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    margin-top: 6px;
    color: #d93025;
    font-size: 13px;
    display: none;
    font-weight: 500;
}

.invalid .error {
    display: flex;
}

.error .error-icon {
    margin-right: 6px;
    font-size: 15px;
}

.create-password .error {
    align-items: flex-start;
}

.create-password .error-icon {
    margin-top: 4px;
}


.button {
    display: flex;
    justify-content: center;
}


.button input {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin-top: 3rem;
    font-size: 18px;
    color: #FFF;
    text-align: center;
    border-radius: 20px;
    background: #000;
    width: 248px;
    height: 39px;
    flex-shrink: 0;
}

.button input:hover {
    transform: scale(0.9);
}

.button input:active {
    transform: scale(0.95);
}


.login {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login a {
    color: rgba(97, 97, 97, 0.48);
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 10px;

}